<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-xs-12 col-sm-12">
            <div class="navbar-text pull-left" id="left-chevron" style="margin-left: 15px">
                <a href="#!/user/{{model.uid}}/home">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="">
                    Restaurant Results
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-xs-12 col-sm-12" id="websiteListArea">
        <ul class="list-group">
            <li ng-repeat="restaurant in model.restaurants" class="list-group-item">
                <a>
                    Name:{{restaurant.name}} | Rating: {{restaurant.rating}} | Address: {{restaurant.formatted_address}}
                </a>
                <a ng-click="model.saveRestaurant(restaurant.id)">
                    <span class="glyphicon glyphicon-star pull-right"></span>
                </a>
            </li>
        </ul>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text row" id="bottom-navbar-row">
            <div class="col-xs-12">
                <a href="#!/user/{{model.uid}}" class="pull-right" id="bottom-user-icon">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>